// ==========================================================================
// MIXINS
// ==========================================================================


// Keyframe mixin
// 

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @keyframes #{$name} {
    @content;
  } 
}

// Background transition 
//

@mixin background-transition($name, $colors, $container, $duration, $timing: "", $iteration: "", $direction: ""){
  @include keyframes($name) {
    @for $i from 1 through length($colors){
      $nb-colors: length($colors);
      $percentage: 100% / $nb-colors;
      $percentage: $percentage * $i;
      @if $i == 1{
        0%{
          background: nth($colors, 1);
        }
      } @elseif $i == $nb-colors{
        100%{
          background: nth($colors, $nb-colors);
        }
      }
      @if $i != $nb-colors{
        #{round($percentage)}{
          background: nth($colors, $i);
        }
      }
    }
  }

  #{$container}{
    animation-name: unquote($name);
    animation-duration: unquote($duration);
    -webkit-animation-name: unquote($name);
    -webkit-animation-duration: unquote($duration);
    @if $iteration { animation-iteration-count: unquote($iteration); -webkit-animation-iteration-count: unquote($iteration); }
    @if $direction { animation-direction: unquote($direction); -webkit-animation-direction: unquote($direction); }
    @if $timing { animation-timing-function: unquote($timing); -webkit-animation-timing-function: unquote($timing); }
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;

  }
}