---
title: Background Animation
---

%h1
  Background Animation

%p
  Simple animation mixin... a bit useless :-) 
%pre
  $colors: #69D2E7, #A7DBD8, #E0E4CC, #F38630, #FA6900;
  @include background-animation('bgcolor', $colors, 'body', '20s', 'ease-in', 'infinite', 'alternate');
